<!doctype html>
<html ng-app="ods-widgets">
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-sanitize.js"></script>
    <script src="https://help.opendatasoft.com/widgets/grunt-scripts/ods-widgets.js"></script>
    <script src="https://help.opendatasoft.com/widgets/grunt-scripts/docs-load-css.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <title>POC Dev Open Data</title>
</head>
<body>

    <div>

        <!-- DATASET DE BASE Meudon.fr -->
        <ods-dataset-context context="bureauxdevote,resultatslieu,contourscommune"
                             bureauxdevote-dataset="elections-bureaux"
                             bureauxdevote-domain="data.meudon.fr"
                             resultatslieu-dataset="elections-europeennes-2024"
                             resultatslieu-domain="data.meudon.fr"
                             contourscommune-dataset="georef-france-commune-millesime@public"
                             contourscommune-domain="public.opendatasoft.com"
                             contourscommune-context="georeffrancecommunemillesime"
                             contourscommune-parameters="{'flg':'fr-fr','disjunctive.reg_name':true,'disjunctive.dep_name':true,'disjunctive.arrdep_name':true,'disjunctive.ze2020_name':true,'disjunctive.bv2022_name':true,'disjunctive.epci_name':true,'disjunctive.ept_name':true,'disjunctive.com_name':true,'disjunctive.ze2010_name':true,'disjunctive.com_is_mountain_area':true,'sort':'year','q':'meudon and 2023'}">


            <div class="row ods-box">

                <div class="col-md-7">

                    <h1>
                        <!-- Titre de la page -->
                        Elections européennes 2024 : résultats <!-- CHANGER LE TITRE A CHAQUE ELECTION -->
                    </h1>

                    <div class="alert"
                         ng-if="!resultatslieu.parameters['refine.code_lieu_de_vote']">Cliquez sur un lieu de vote pour afficher les résultats de celui-ci !</div>



                    <!-- CARTE-->
                    <ods-map style="height:620px;margin-bottom:10px;"
                             scroll-wheel-zoom="false"
                             basemap="jawg.light"
                             >
                        <ods-map-layer-group>
                            <ods-map-layer context="bureauxdevote"
                                           refine-on-click-context="[resultatslieu]"
                                           refine-on-click-resultatslieu-map-field="num_bureau"
                                           refine-on-click-resultatslieu-context-field="code_lieu_de_vote"
                                           refine-on-click-resultatslieu-replace-refine="true"
                                           color="#477d29"
                                           picto="dot" 
                                           show-marker="false"
                                           size="7"
                                           >
                            </ods-map-layer>
                        </ods-map-layer-group>
                        <ods-map-layer-group>
                            <ods-map-layer context="contourscommune" color="#C32D1C" picto="ods-circle" show-marker="false" display="auto" shape-opacity="0" point-opacity="1" tooltip-disabled="true" border-color="#2C3F56" border-opacity="1" border-size="3" border-pattern="solid" caption="false" title="Contours du Territoire GPSO" description="Contours de Ville-d'Avray" size="4" size-min="3" size-max="5" size-function="linear"></ods-map-layer>
                        </ods-map-layer-group>
                    </ods-map>

                </div>

                <!-- Colonne à droite avec les résultats --> 
                <div class="col-md-5">

                    <div ng-if="!resultatslieu.parameters['refine.code_lieu_de_vote']">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Résultats de participation -->
                                <div ods-analysis="election"
                                     ods-analysis-context="resultatslieu"
                                     ods-analysis-serie-inscrits="SUM(nb_inscrits)"
                                     ods-analysis-serie-blancs="SUM(nb_blanc)"
                                     ods-analysis-serie-nuls="SUM(nb_nuls)"
                                     ods-analysis-serie-exprimes="SUM(nb_exprimes)"
                                     ods-analysis-serie-procurations="SUM(nb_procurations)"
                                     >

                                    <h2>
                                        Résultats
                                    </h2> 

                                    <div class="participation"><span class="metric_name">Participation</span>
                                        <div class="fond_bar" style="width : 100%"><div class="bar" style="width : {{ (election.results[0].exprimes+election.results[0].blancs)*100/election.results[0].inscrits}}%"><span class="metric_chiffre2"> {{ (election.results[0].exprimes+election.results[0].blancs)*100/election.results[0].inscrits | number:1}}%</span></div></div>
                                    </div>
                                    <div class="metrics row">
                                        <div class="metric col-sm-2">
                                            <span class="metric_chiffre ">{{ election.results[0].inscrits/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                            <span class="metric_name">Inscrits</span>
                                        </div>
                                        <div class="metric col-sm-2">
                                            <span class="metric_chiffre ">{{ election.results[0].blancs/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                            <span class="metric_name">Blancs</span>
                                        </div>
                                        <div class="metric col-sm-2">
                                            <span class="metric_chiffre ">{{ election.results[0].nuls/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                            <span class="metric_name">Nuls</span>
                                        </div>
                                        <div class="metric col-sm-2">
                                            <span class="metric_chiffre ">{{ election.results[0].exprimes/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                            <span class="metric_name">Exprimés</span>
                                        </div>
                                        <div class="metric col-sm-2">
                                            <span class="metric_chiffre ">{{ election.results[0].procurations/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                            <span class="metric_name">Procurations</span>
                                        </div>

                                    </div>   

                                </div>
                            </div>

                            <div class="col-md-12">


                                <!-- Résultats par liste -->
                                <div class="col-md-12">
                                    <div ods-analysis="candidat"
                                         ods-analysis-context="resultatslieu"
                                         ods-analysis-x="candidat"
                                         ods-analysis-serie-voix="SUM(nb_voix)"
                                         ods-analysis-serie-exprimes="SUM(nb_exprimes)"
                                         ods-analysis-serie-blancs="SUM(nb_blanc)"
                                         ods-analysis-sort="voix"
                                         style="height:550px;overflow:scroll;"
                                         >
                                        <div ng-repeat="(i, result) in candidat.results">
                                            <div class="candidat">
                                                <div class="name">{{result.x}}</div>
                                                <div class="fond_bar" style="width : 100%"> 
                                                    <div class="result">
                                                        <span class="voix bold">{{ result.voix | number }} voix </span>/<span class="pourcent"> {{ result.voix*100/(result.exprimes) | number:2}}%</span>
                                                    </div>
                                                    <div class="bar" style="width : {{ result.voix*100/result.exprimes}}%"></div>
                                                </div>
                                            </div>   
                                        </div>      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Résultat par lieu de vote (lorsque l'utilisateur le sélectionne sur la carte)-->
                    <div ng-if="resultatslieu.parameters['refine.code_lieu_de_vote']">
                        <ods-result-enumerator context="resultatslieu" max="1" show-pagination="false">
                            <h2>
                                Lieu de vote : {{item.fields.nom_bureau}}
                            </h2> 

                        </ods-result-enumerator>
                        <div class="ods-button"

                             ng-click="var.tab.numbureau = ''; resultats.parameters = {}; resultatslieu.parameters = {};">Voir les résultats au niveau de la ville </div>
                        <div ods-analysis="resultatsbureau"
                             ods-analysis-context="resultatslieu"
                             ods-analysis-serie-inscrits="SUM(nb_inscrits)"
                             ods-analysis-serie-blancs="SUM(nb_blanc)"
                             ods-analysis-serie-exprimes="SUM(nb_exprimes)"
                             ods-analysis-serie-procurations="SUM(nb_procurations)"
                             >
                             <div class="participation"><span class="metric_name">Participation</span>
                                <div class="fond_bar" style="width : 100%"><div class="bar" style="width : {{ (resultatsbureau.results[0].exprimes+resultatsbureau.results[0].blancs)*100/resultatsbureau.results[0].inscrits}}%"><span class="metric_chiffre2"> {{ (resultatsbureau.results[0].exprimes+resultatsbureau.results[0].blancs)*100/resultatsbureau.results[0].inscrits | number:1}}%</span></div></div>
                            </div>
                            <div class="metrics row">
                                <div class="metric col-sm-3">
                                    <span class="metric_chiffre">{{ resultatsbureau.results[0].inscrits/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                    <span class="metric_name">Inscrits</span>
                                </div>
                                <div class="metric col-sm-3">
                                    <span class="metric_chiffre">{{ resultatsbureau.results[0].blancs/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                    <span class="metric_name">Blancs</span>
                                </div>
                                <div class="metric col-sm-3">
                                    <span class="metric_chiffre">{{ resultatsbureau.results[0].exprimes/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                    <span class="metric_name">Exprimés</span>
                                </div>
                                <div class="metric col-sm-3">
                                    <span class="metric_chiffre">{{ resultatsbureau.results[0].procurations/38 | number }}</span> <!-- Penser à changer le nombre diviseur selon le nombre de liste ou de candidat -->
                                    <span class="metric_name">Procurations</span>
                                </div>

                            </div>   

                        </div>
                        <div class="col-md-12">
                            <div ods-analysis="candidat"
                                 ods-analysis-context="resultatslieu"
                                 ods-analysis-x="candidat"
                                 ods-analysis-serie-voix="SUM(nb_voix)"
                                 ods-analysis-serie-exprimes="SUM(nb_exprimes)"
                                 ods-analysis-sort="voix"
                                 style="height:550px;overflow:scroll;"
                                 >
                                <div ng-repeat="(i, result) in candidat.results">
                                    <div class="candidat">
                                        <div class="name">{{result.x}}</div>
                                        <div class="fond_bar" style="width : 100%"> 
                                            <div class="result">
                                                <span class="voix bold">{{ result.voix | number }} voix </span>/<span class="pourcent"> {{ result.voix*100/(result.exprimes) | number:2}}%</span>
                                            </div>
                                            <div class="bar" style="width : {{ result.voix*100/result.exprimes}}%"></div>
                                        </div>
                                    </div>  
                                </div>      
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </ods-dataset-context>


</div>

</body>
</html>